body{
	margin:0;
	border:0;
	background: #aaa;
    color: white;
}

p {
	text-indent: 2em;
}

.title
{
	font-weight: bold;
}

.fixed-section{
	margin: 10vh 25vw 5vh 25vw;
}

.header {
	display: flex;
	justify-content: space-around;
	background-color: EAC67A;
    border: solid 10px black;
	height: 15vh;
	align-items: center;
}

.header a{
	text-align: center;
	font-size: 150%;
	
}

.header a:link, 
.header a:visited {
	color: white;
	text-decoration: none;
}

.row{
	width: 90vw;
	margin: 0 auto;
}

.blue{
	background: #233237;
}

.green{
	background: #98434B}

.yellow{
	background: #DFD3AB;
}

.pink{
	background: #DFB9D7;
}

.filler-circle{
	width: 10vw;
	height: 10vw;
	border-color: white;
	border-radius: 10vw;
	margin:4vw;
	float: left;
    background: #ddd;
}



.content-circle {
	width: 18vw;
	height: 10vw;
	margin: 4vw 0 0 0;
	overflow: none;
	text-align: center;
	float: left;
	transition-duration: 2s
}

.content-circle img{
	margin: 0 4vw 0 4vw;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	transition-duration:2s;
}

.content-circle:hover{
	width: 18vw;
	height: 18vw;
	margin: 0;
	transition-duration: 2s;
}

.content-circle:hover img {
	width: 14vw;
	height: 14vw;
	transition-duration: 2s;
	margin: 0 2vw 0 2vw;
}

	